<div class="nav_div_cont_nav">
  <nav class="nav_nav">
    <div class="nav_lado1">
      
    </div>
    <div class="nav_lado2">
      <a class="nav_link" href="/">Home</a>
      <a class="nav_link" href="/tosignup">Register</a>
      <a class="nav_link" href="/tosigin">Sign-in</a>
      <a class="nav_link" href="/newprod">Enter product</a>
    </div>
  </nav>
</div>